/* CSS HEX */
:root {
  --primary-color: #1f6f8b;
  --secondary-color: #99a8b2;
  --tertiary-color: #e6d5b8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  background-color:  #1c2b2d;
  height: 100%;
}

main {
  position: relative;
  min-height: 100%;
  height: auto import !important;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 64px;
  align-self: center;
  padding: 10px;
}

.logo:hover {
  opacity: 50%;
}


header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(#1c2b2d);
  background-color: var(--tertiary-color);
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 35px;
 
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  margin: 7px 0;
  box-sizing: border-box;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-between;    
}

header nav ul li{
  padding: 10px 15px;
}

header nav ul li:hover {
  border-radius: 15px;
  background: var(--secondary-color);
}


footer {
  position: relative;
  top: 250px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--tertiary-color)
}

.img-thumbnail {
  width: 25%;
    min-height: 300px;
    background-size: cover;
    display: flex;
    padding: 50px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.project-container {
  display: flex;
  flex-wrap:wrap;
}

#resume {
  background-image: url(../src/assets/images/desktop.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

#about-info {
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
    padding: 20px 40px 40px;
    margin-left: auto;
    margin-right: auto;
}

#profile-pic {
  height: 40%;
  width: 40%;
  align-self: flex-start;
  object-fit: contain;    
  margin: 20px 30px 0 0;
}

.info p{
  text-align: right;
  color: var(--primary-color);
  flex: 1 1 auto;
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
  align-self: flex-end;
}

h2 {
  text-align: center;
}


#contact-form input, #contact-form textarea {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 90%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.75);
}

#contact-form input:focus, #contact-form textarea:focus{
  background-color: rgba(255,255,255, 1);
  outline: none;
}

#contact-form button{
  width: 90%;
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

#contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}

.img-info {
    width: 25%;
    min-height: 300px;
    background-size: cover;
    display: flex;
    padding: 50px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
}