/* CSS HEX */
:root {
  --primary-color: #209bc7;
  --secondary-color: #99a8b2;
  --tertiary-color: #e6d5b8;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  background: #4c4c4c; 
}

main {
  position: relative;
  min-height: 100%;
  height: auto import !important;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  align-self: center;
  padding: 10px;
}

.logo:hover {
  opacity: 50%;
}


header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(#1c2b2d);
  background-image: url(../src/assets/images/header-background.png);
  width: 100%;
  background-repeat: no-repeat;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 35px;
 
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  margin: 7px 0;
  box-sizing: border-box;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-between;    
}

header nav ul li{
  padding: 10px 15px;
}

.navActive {
  border-radius: 15px;
  background: var(--secondary-color);
}


footer {
  position: relative;
  top: 200px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}



.project-container {
  display: flex;
  flex-wrap:wrap;
}

#resume {
  display:flex;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
}

#about-info {
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
    padding: 20px 40px 40px;
    margin-left: auto;
    margin-right: auto;
}

#profile-pic {
  height: 40%;
  width: 40%;
  align-self: flex-start;
  object-fit: contain;    
  margin: 20px 30px 0 0;
}

.info p{
  text-align: right;
  color: var(--primary-color);
  flex: 1 1 auto;
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
  align-self: flex-end;
}

h2 {
  text-align: center;
}

#contact-container {
 display: flex;
 flex-wrap: wrap;
 margin-left: 20%;
 margin-right: 20%;
}

#contact-form {
  display: inline-block;
  text-align: left;
}

#contact-form input, #contact-form textarea {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.75); 
}

#contact-form input:focus, #contact-form textarea:focus{
  background-color: rgba(255,255,255, 1);
  outline: none;
}

#contact-form button{
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

#contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}


.img-info {
    width: 300px;
    min-height: 300px;
    background-size: cover;
    display: flex;
    padding: 50px;
    margin-bottom: 25px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.img-details{
  display: flex;
  font-size: 25px;
  padding: 5px;
  color: rgb(55, 238, 101);
  font-size: bold;
}

.project-container {
  display:flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

#desktop {
  display:flex;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
}